body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #041c63;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.info-box {
    margin: 20px auto;
    padding: 40px;
    border: 2px solid #ccc;
    border-radius: 50px;
    width: 60%;
    background-color: white;
}